@model List<Customer>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="pull-right">Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Account number</th>
                <th>Amount</th>
                <th>Account number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="pull-right">@item.Id</td>
                <td>@item.Name</td>

                @foreach (var account in item.Accounts)
                {

                    <td>@account.Amount</td>
                    <td>@account.AccountNumber</td>
                }
                <td><a asp-action="SendMail" asp-controller="Home" >Send mail</a></td>
            </tr>
                
            }
        </tbody>
    </table>
</div>
